body{
    font-family:Arial;
    background:#f4f4f4;
}

.container{
    width:600px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
}

#preview{
    width:100%;
    max-height:350px;
    object-fit:contain;
    margin-top:20px;
}

button{
    width:100%;
    margin-top:20px;
    padding:12px;
}

#result{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
}